<% if current_user.admin? %>
  <div>
    <%= link_to "New User", new_user_path %>
  </div>
  <div>
    <%= link_to "All Users", users_path %>
  </div>
<% end %>
<%= link_to "Portfolio Page", user_portfolio_path(current_user) %>

<h1>Stocks</h1>
<table>
  <tr>
    <th>Symbol</th>
    <th>Company Name</th>
    <th>Latest Price</th>
    <th>Change</th>
    <th>Change Percentage</th>
  </tr>
  <% @stock_market_list.each do |stock| %>
    <tr style="color: <%= stock["change"] < 0 ? "red" : "green" %>">
      <td><%= stock["symbol"] %></td>
      <td><%= stock["company_name"] %></td>
      <td>
        <%= stock["latest_price"] %>
      </td>
      <td>
        <%= stock["change"] %>
      </td>
      <td>
        <%= stock["change_percent_s"] %>
      </td>
    </tr>
  <% end %>
</table>
