<h1>Transaction History:</h1>

<table>
  <tr>
    <th>Symbol</th>
    <th>Company Name</th>
    <th>Stock Price</th>
    <th>Amount</th>
    <th>Transaction Type</th>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.stock.symbol %></td>
      <td><%= transaction.stock.company_name %></td>     
      <td><%= transaction.stock_price %></td>
      <td><%= transaction.amount * (transaction.sell? ? -1 : 1 ) %></td>
      <td><%= transaction.transaction_type.humanize %></td>
    </tr>
  <% end %>
</table>
