<h1>Transaction History</h1>
<table>
  <tr>
    <th>Symbol</th>
    <th>Company Name</th>
    <th>Stock Price</th>
    <th>Amount</th>
    <th>Transaction Type</th>
    <% if current_user.admin? %>
      <th>User</th>
    <% end %>
  </tr>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.stock.symbol %></td>
      <td><%= transaction.stock.company_name %></td>
      <td><%= transaction.stock_price %></td>
      <td><%= transaction.amount %></td>
      <td><%= transaction.transaction_type.humanize %></td>
      <% if current_user.admin? %>
        <td><%= transaction.user.email %></td>
      <% end %>
    </tr>
  <% end %>
</table>
