<!DOCTYPE html>
<html>
  <head>
    <title>Baynans</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <% if notice %>
      <p class="alert alert-success" style="color: green"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger" style="color: red"><%= alert %></p>
    <% end %>
    <% if user_signed_in? %>
      <p>Logged in as: <%= current_user.email %></p>
      <p>User type: <%= current_user.user_type.humanize %></p>
      <p>Trading status: <%= current_user.trading_status.humanize %></p>
      <p><%= button_to "Logout", destroy_user_session_path, method: :delete %></p>
      <% if current_user.admin? && action_name != "notifications" %>
        <p>
          <%= link_to "Notifications", admin_notifications_path %>
        </p>
      <% end %>
      <% if action_name != "home" %>
        <p>
          <%= link_to "Home", root_path %>
        </p>
      <% end %>
      <% if action_name != "index" %>
        <p>
          <%= link_to "Transaction History", transactions_path %>
        </p>
      <% end %>

    <% end %>
    <%= yield %>
  </body>
</html>
